<template name="index">
  <h1>Home</h1>
    {{> wolfram}}
</template>


<template name="wolfram">
    <pre>
        Wolfram Alpha API
        http://api.wolframalpha.com/v2/query?input=pi&appid=6TKGHR-L4T3W4R5RY
    </pre>

    <button id="apitest" class="btn btn-success">Test Wolfram API</button>

    <p class="success">
        {{#if getWolframOutput}}
            {{#each getWolframOutput}}
                {{this.content}}
            {{/each}}
        {{else}}
            No response yet
        {{/if}}
    </p>
</template>